<!-- <p>quote works!</p> -->
<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2 class="text-center">Quotes</h2>
        <div *ngFor='let quote of quotes; let i=index'>
          <div id="quotes" class="mt-5">
            <p appHighlight *ngIf="highestUpvote()===quote.numberOfLikes && quote.numberOfLikes>0">
              {{quote.theQuote}}
            </p>
            <p *ngIf="highestUpvote()!==quote.numberOfLikes || quote.numberOfLikes===0">{{quote.theQuote}}</p>
            <strong>
              <p>{{quote.author}}</p>
              <p>{{quote.description}}</p>
            </strong>
          </div>
          <div>
            <i class="fa fa-thumbs-up" aria-hidden="true" (click)="likeButtonClick(i)"></i>
            <i class="fa fa-thumbs-down ml-5" aria-hidden="true" (click)="dislikeButtonClick(i)"></i>
            <p><strong>Upvote:</strong>{{quote.numberOfLikes}} <span><strong>Downvote:</strong>{{quote.numberOfDislikes}}</span></p>
            </div>
            <button (click)='toggleDetails(i)' class="btn btn-success">Description</button>
            <app-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete)='quoteDelete($event,i)'>
            </app-detail>
        </div>
      </div>
    </div>
    <div class="col-md-5" id="">
      <app-form (addQuote)="addNewQuote($event)"></app-form>
    </div>
  </div>
</div>
